*, *::before, *::after {
    box-sizing: border-box;
}
/* Поисковая строка */
.search-bar {
    margin: auto;
    position: relative;
    text-align: center;
}

form {
    margin: 50px;
    display:flex;
    flex-direction:row;
    text-align: center;
}
  
input {
    font-family: inherit;
    font-size: 30px;
    line-height: inherit;
    flex-grow:2;
    border:none;
    border-radius: 15px 0 0 15px;
    text-align: center;
}

input[type="text"] {
    padding-right: 50px;
    border: solid black 1px;
}

/* input[type="submit"] {
    margin-left: -50px;
    border: solid black 1px;
} */

input:focus::placeholder {
    color: transparent;
}

.search-bar button {
    /* float: left;
    width: 20%; */
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}

.search-bar button:hover {
    background: #0b7dda;
}

.search-bar button::after {
    content: "";
    clear: both;
    display: table;
}

/* Блок с товарами */
.items-block {
    background-color: 0;
    margin: 50px;
    width: 20%;
    height: 300px;
    border: solid gray 5px;
    border-radius: 15px;
}