*, *::before, *::after {
    box-sizing: border-box;
}
/* Поисковая строка */
.search-bar {
    margin: auto;
    position: relative;
    text-align: center;
}

form {
    margin: 50px;
    display:flex;
    flex-direction:row;
    text-align: center;
}
  
input {
    font-family: inherit;
    font-size: 30px;
    line-height: inherit;
    flex-grow:2;
    border:none;
    border-radius: 15px 0 0 15px;
    text-align: center;
}

input[type="text"] {
    padding-right: 50px;
    border: solid black 1px;
}

/* input[type="submit"] {
    margin-left: -50px;
    border: solid black 1px;
} */

input:focus::placeholder {
    color: transparent;
}

.search-bar button {
    background: #2196F3;
    color: white;
    font-size: 30px;
    border: none;
    width: 100px;
    border-radius: 0 15px 15px 0;
}

.search-bar button:hover {
    background: black;
}

.search-bar button::after {
    content: "";
    clear: both;
    display: table;
}

/* Блок с товарами */
.items-block {
    position: relative;
    background-color: 0;
    border: solid gray 5px;
    border-radius: 15px;
    margin: 50px;
    height: 100%;
}

.items-block tr {
    margin: 10px;
    background-color: #2196F3;
    width: 100px;
    height: 100px;
}