{% extends 'base.html' %}

{% block title %}Корзина{% endblock %}

{% block scripts %}
<script src = "https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src = "../static/bascket.js" defer></script>
{% endblock %}

{% block content %}
<link rel = "stylesheet" type = "text/css" href = "../static/base.css">
<link rel = "stylesheet" type = "text/css" href = "../static/items.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="bg">
    <a type = "button" href = "/">главная</a>
    <a href = "/items" type = "button">товары</a>
    <a href = "/contact" type = "button">контакты</a>
    <a href = "/about" type = "button">о нас</a>
    <a class = "bascket active" type = "button" href = "/bascket"><img src="https://t700.ru/icon/cart.png" width="42" height="42"></a>
</div>
{% for item in data %}
<div class = "items-block">
    <table>
        <tr>
            <td><img src = "../static/images/item_images/{{item.name}}_{{item.index}}/{{item.name}}_thumb.jpg"/></td>
            <td>
                {% if item.parametrs is none and item.description is none %}
                <p>
                    {{item.name}}
                    <br>Единица измерения: {{item.unit}}
                </p>
                {% elif item.description is none %}
                <p> 
                    {{item.name}}
                    <br>Единица измерения: {{item.unit}}
                    <br>Параметры: {{item.parametrs}}
                </p>
                {% elif item.parametrs is none %}
                <p>
                    {{item.name}}
                    <br>Единица измерения: {{item.unit}}
                    <br>Описание: {{item.description}}
                </p>  
                {% else %}
                <p>
                    {{item.name}}
                    <br>Единица измерения: {{item.unit}}
                    <br>Описание: {{item.description}}
                    <br>Параметры: {{item.parametrs}}
                </p>
                {% endif %}
            </td>
        </tr>
    </table>
    <table>
        <tr class = "item-price">
            <form action = "{{url_for('bascket')}}" method = "post" id = "itemBuy" itemIndex = "{{item.index}}">
                <td><p id = "itemPrice{{item.index}}">{{item.price * item.count}} руб.</p></td>
                <td><button class = "minus" itemIndex = "{{item.index}}" itemPrice = "{{item.price}}"> - </button><input onkeydown="return false" type = "number" min="1" max="100" name = "itemCount" id = "itemCount{{item.index}}" value = "{{item.count}}"><button class = "plus" itemIndex = "{{item.index}}" itemPrice = "{{item.price}}"> + </button></td>
                <td><button class = "delete-item" itemIndex = "{{item.index}}"><img src="https://polinka.top/uploads/posts/2023-05/1683777508_polinka-top-p-kartinka-musornaya-korzina-instagram-69.png" width="35" height="32"></button></td>
                <input type = "hidden" name = "itemId" id = "itemId{{item.index}}" value = {{item.id}}>
            </form>
        </tr>
    </table>    
</div>
{% endfor %}
<div class = "item-price-buy-items">
    <label> Сумма к оплате: </label>
    <button class = "item-price buy-items" type = "submit" name = "itemBuyButton" id = "itemBuyButton">Оплатить</button>
</div>
{% endblock %}

<!-- <img src="https://kartinkof.club/uploads/posts/2023-05/1683368987_kartinkof-club-p-udalit-kartinki-14.png" width="42" height="42"> -->