{% extends 'base.html' %}

{% block title %}Главная страница{% endblock %}
{% block scripts %}
    <script type="text/javascript" src = "../static/slider_HP.js"></script>
{% endblock %}
{% block content %}
<link rel = "stylesheet" type = "text/css" href = "../static/base.css">
<link rel = "stylesheet" type = "text/css" href = "../static/slider_HP.css">
<div class="bg">
    <a class = "active" type = "button" href = "/">главная</a>
    <a href = "/items" type = "button">товары</a>
    <a href = "/contact" type = "button">контакты</a>
    <a href = "/about" type = "button">о нас</a>
    {% for button in data %}
        {{button.context|safe}}
    {% endfor %}
</div>
<div class="slider">
    <img src="https://yt3.googleusercontent.com/ytc/APkrFKaN1sYEK2wkYuDCzc9izFd5Gqys6Hqd3arX9Jcv=s900-c-k-c0x00ffffff-no-rj">
    <img src="https://kartinkof.club/uploads/posts/2022-09/1662444333_2-kartinkof-club-p-novie-i-krasivie-kartinki-randomnie-2.jpg">
    <img src="https://avatarko.ru/img/kartinka/21/igra_Minecraft_creeper_20172.jpg">
    <button class="prev">Назад</button>
    <button class="next">Вперед</button>
</div>
<div class="container">
    <div class="tabs">
        <div class="tabby-tab">
            <input type="radio" id="tab-1" name="tabby-tabs" checked>
            <label for="tab-1">Детали бывшие в употреблении</label>
            <div class="tabby-content">
                <img src="https://icons.iconarchive.com/icons/rob-sanders/gear/48/spur-gear-icon.png" width="48" height="48">
                <p>Наша команда специализируктся на всякой хуйне</p>
            </div>
        </div>
        <div class="tabby-tab">
        <input type="radio" id="tab-2" name="tabby-tabs">
        <label for="tab-2">Расходные материалы</label>
        <div class="tabby-content">
            <img src="https://icons.iconarchive.com/icons/mugenB16/the-attic/48/Oil-icon.png" width="48" height="48">
            <p>Наша команда впаривает хуету</p>
        </div>
    </div>
    <div class="tabby-tab">
        <input type="radio" id="tab-3" name="tabby-tabs">
        <label for="tab-3">Сервисное обслуживание и ремонт</label>
        <div class="tabby-content">
            <img src="https://icons.iconarchive.com/icons/brisbanetanks/tools/48/Wrench-icon.png" width="48" height="48">
            <p>Наша команда вероятнее всего Вас не наебёт</p>
        </div>
    </div>
    <div class="tabby-tab">
        <input type="radio" id="tab-4" name="tabby-tabs">
        <label for="tab-4">Проведение комплексных мероприятий</label>
        <div class="tabby-content">
            <img src="https://icons.iconarchive.com/icons/paomedia/small-n-flat/48/sign-check-icon.png" width="48" height="48">
            <p>Ну а в целом рот его ебать</p>
        </div>
    </div>   
</div>
{% endblock %}