{% extends 'base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <div class="topnav">
        <a class = "active" href = "#home">Главная</a>
        <a href = "#news" type = "button">Товары</a>
        <a href = "#contact" type = "button">Контакты</a>
        <a href = "#about" type = "button">О нас</a>
        <a class = "login" type = "button" href = "/login">Войти</a>
    </div>
    <div class="slider-container">
      <div class="slider">
        <div class="slides">
          <div id="slides__1" class="slide">
            <span class="slide__text">1</span>
            <a class="slide__prev" href="#slides__4" title="Next"></a>
            <a class="slide__next" href="#slides__2" title="Next"></a>
          </div>
          <div id="slides__2" class="slide">
            <span class="slide__text">2</span>
            <a class="slide__prev" href="#slides__1" title="Prev"></a>
            <a class="slide__next" href="#slides__3" title="Next"></a>
          </div>
          <div id="slides__3" class="slide">
            <span class="slide__text">3</span>
            <a class="slide__prev" href="#slides__2" title="Prev"></a>
            <a class="slide__next" href="#slides__4" title="Next"></a>
          </div>
          <div id="slides__4" class="slide">
            <span class="slide__text">4</span>
            <a class="slide__prev" href="#slides__3" title="Prev"></a>
            <a class="slide__next" href="#slides__1" title="Prev"></a>
          </div>
        </div>
        <div class="slider__nav">
          <a class="slider__navlink" href="#slides__1"></a>
          <a class="slider__navlink" href="#slides__2"></a>
          <a class="slider__navlink" href="#slides__3"></a>
          <a class="slider__navlink" href="#slides__4"></a>
        </div>
      </div>
    </div>
    
    <a href="https://alvarotrigo.com/blog/create-a-slider-with-pure-CSS/" target="_blank" class="read-article">
      Read the article 👉
    </a>
{% endblock %}