{% extends 'base.html' %}

{% block title %}Главная страница{% endblock %}
{% block scripts %}
    <script type="text/javascript" src = "../static/slider_HP.js"></script>
{% endblock %}
{% block content %}
<link rel = "stylesheet" type = "text/css" href = "../static/base.css">
<link rel = "stylesheet" type = "text/css" href = "../static/slider_HP.css">
<div class="bg">
    <a class = "active" type = "button" href = "/">главная</a>
    <a href = "/items" type = "button">товары</a>
    <a href = "/contact" type = "button">контакты</a>
    <a href = "/about" type = "button">о нас</a>
    {% for button in data %}
        {{button.context|safe}}
    {% endfor %}
</div>
<div class="slider-container">
    <div class="slider">
      <img src="https://i.postimg.cc/nhsTGkLQ/1.png" alt="Белый пушистый кот">
      <img src="https://i.postimg.cc/cLVh9nKk/2.png" alt="Рыжий пушистый кот в джинсах">
      <img src="https://i.postimg.cc/4NxWmZkP/3.png" alt="Бело-рыжий пушистый кот">
      <img src="https://i.postimg.cc/FFZPrzq1/8.png" alt="Золотистый пушистый кот">
      <img src="https://i.postimg.cc/jd3Zf9Rb/7.png" alt="Золотистый пушистый кот">
    </div>
    <button class="prev-button" aria-label="Посмотреть предыдущий слайд">&lt;</button>
    <button class="next-button" aria-label="Посмотреть следующий слайд">&gt;</button>
</div>
<div class="container">
    <div class="tabs">
        <div class="tabby-tab">
            <input type="radio" id="tab-1" name="tabby-tabs" checked>
            <label for="tab-1">Детали бывшие в употреблении</label>
            <div class="tabby-content">
                <img src="https://icons.iconarchive.com/icons/rob-sanders/gear/48/spur-gear-icon.png" width="48" height="48">
                <p>Наша команда специализируктся на всякой хуйне</p>
            </div>
        </div>
        <div class="tabby-tab">
        <input type="radio" id="tab-2" name="tabby-tabs">
        <label for="tab-2">Расходные материалы</label>
        <div class="tabby-content">
            <img src="https://icons.iconarchive.com/icons/mugenB16/the-attic/48/Oil-icon.png" width="48" height="48">
            <p>Наша команда впаривает хуету</p>
        </div>
    </div>
    <div class="tabby-tab">
        <input type="radio" id="tab-3" name="tabby-tabs">
        <label for="tab-3">Сервисное обслуживание и ремонт</label>
        <div class="tabby-content">
            <img src="https://icons.iconarchive.com/icons/brisbanetanks/tools/48/Wrench-icon.png" width="48" height="48">
            <p>Наша команда вероятнее всего Вас не наебёт</p>
        </div>
    </div>
    <div class="tabby-tab">
        <input type="radio" id="tab-4" name="tabby-tabs">
        <label for="tab-4">Проведение комплексных мероприятий</label>
        <div class="tabby-content">
            <img src="https://icons.iconarchive.com/icons/paomedia/small-n-flat/48/sign-check-icon.png" width="48" height="48">
            <p>Ну а в целом рот его ебать</p>
        </div>
    </div>   
</div>
{% endblock %}