{% extends 'base.html' %}

{% block title %}Товары и услуги{% endblock %}

{% block scripts %}
<script src = "https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src = "../static/items.js" defer></script>
{% endblock %}

{% block content %}
<link rel = "stylesheet" type = "text/css" href = "../static/base.css">
<link rel = "stylesheet" type = "text/css" href = "../static/items.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="bg">
    <a type = "button" href = "/">главная</a>
    <a class = "active" href = "/items" type = "button">товары</a>
    <a href = "/contact" type = "button">контакты</a>
    <a href = "/about" type = "button">о нас</a>
    <a class = "bascket" type = "button" href = "/bascket"><img src="https://t700.ru/icon/cart.png" width="42" height="42"></a>
</div>
<div class = "search-bar">
    <table>
        <tr>
            <td><form action = "{{url_for('items')}}" method = "post" id = "itemSearch">
                <input type = "text" name = "itemSearchInput" id = "itemSearchInput" size = "40" placeholder = "Поиск товара">
            </form>
        </td><td>
            <button type = "submit" id = "itemSearchButton"><i class="fa fa-search"></i></button>
        </td></tr>
    </table>
</div>
{% if reset_search == True %}
<div class = "items-block" style = "border: solid grey 3px; border-radius: 10px">
    <div class = "reset-search item-price">
        <a href = "/items"><button id = "resetSearch" type = "submit">Сбросить</button></a>
    </div>
{% for item in search_items_data %}
<table>
    <tr>
        <td><img src = "../static/images/item_images/{{item.name}}_{{item.index}}/{{item.name}}_thumb.jpg"/></td>
        <td>
            {% if item.parametrs is none and item.description is none %}
            <p>
                {{item.name}}
                <br>Единица измерения: {{item.unit}}
            </p>
            {% elif item.description is none %}
                <p> 
                    {{item.name}}
                    <br>Единица измерения: {{item.unit}}
                    <br>Параметры: {{item.parametrs}}
                </p>
            {% elif item.parametrs is none %}
                <p>
                    {{item.name}}
                    <br>Единица измерения: {{item.unit}}
                    <br>Описание: {{item.description}}
                </p>  
            {% else %}
            <p>
                {{item.name}}
                <br>Единица измерения: {{item.unit}}
                <br>Описание: {{item.description}}
                <br>Параметры: {{item.parametrs}}
            </p>
            {% endif %}
        </td>
    </tr>
    <tr class = 'item-price'>
        <td><p>{{item.price}} руб.</p></td>
        <form action = "{{url_for('search_item')}}" method = "post" id = "itemBuy" itemIndex = "{{item.index}}">
            <td>
                <input type = "number" min="1" max="100" name = "itemCount" id = "itemCount{{item.index}}" value = "1" size = "40">
                <input type = "hidden" name = "itemId" id = "itemId{{item.index}}" value = {{item.id}}>
                <button type = "submit" name = "itemBuyButton" id = "itemBuyButton">В корзину</button>
            </td>
        </form>
    </tr>
</table> 
{% endfor %}
</div>
{% endif %}
{% for item in items_data %}
    <div class = "items-block">
        <table>
            <tr>
                <td><img src = "../static/images/item_images/{{item.name}}_{{item.index}}/{{item.name}}_thumb.jpg"/></td>
                <td>
                    {% if item.parametrs is none and item.description is none %}
                    <p>
                        {{item.name}}
                        <br>Единица измерения: {{item.unit}}
                    </p>
                    {% elif item.description is none %}
                        <p> 
                            {{item.name}}
                            <br>Единица измерения: {{item.unit}}
                            <br>Параметры: {{item.parametrs}}
                        </p>
                    {% elif item.parametrs is none %}
                        <p>
                            {{item.name}}
                            <br>Единица измерения: {{item.unit}}
                            <br>Описание: {{item.description}}
                        </p>  
                    {% else %}
                    <p>
                        {{item.name}}
                        <br>Единица измерения: {{item.unit}}
                        <br>Описание: {{item.description}}
                        <br>Параметры: {{item.parametrs}}
                    </p>
                    {% endif %}
                </td>
            </tr>
            <tr class = 'item-price'>
                <td><p>{{item.price}} руб.</p></td>
                <form action = "{{url_for('items')}}" method = "post" id = "itemBuy" itemIndex = "{{item.index}}">
                    <td>
                        <input type = "number" min="1" max="100" name = "itemCount" id = "itemCount{{item.index}}" value = "1" size = "40">
                        <input type = "hidden" name = "itemId" id = "itemId{{item.index}}" value = {{item.id}}>
                        <button type = "submit" name = "itemBuyButton" id = "itemBuyButton">В корзину</button>
                    </td>
                </form>
            </tr>
        </table>    
    </div>
{% endfor %}
{% endblock %}