{% extends 'base.html' %}

{% block title %}Товары и услуги{% endblock %}

{% block content %}
<link rel = "stylesheet" type = "text/css" href = "../static/base.css">
<link rel = "stylesheet" type = "text/css" href = "../static/items.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="bg">
    <a type = "button" href = "/">главная</a>
    <a class = "active" href = "/items" type = "button">товары</a>
    <a href = "/contact" type = "button">контакты</a>
    <a href = "/about" type = "button">о нас</a>
    <a class = "bascket" type = "button" href = "/bascket"><img src="https://t700.ru/icon/cart.png" width="42" height="42"></a>
</div>
<form action = "{{url_for('items')}}" method = "post">
    <div class = "search-bar">
            <label for = "itemSearch"></label>
            <input type = "text" name = "itemSearch" id = "itemSearch" size = "40" placeholder = "Поиск товара">
            <button type = "submit" id = "itemSearchButton"><i class="fa fa-search"></i></button>
    </div>
</form>
<div class = "search-items">
    {% for item in search_items_data %}
        <table>
        <tr>
            <td><img src = "../static/images/item_images/{{item.name}}_{{item.index}}/{{item.name}}_thumb.jpg"/></td>
            <td><p>{{item.name}}<br>Цена за единицу: {{item.price}}</p></td>
        </tr>
        <tr>
            <td><button>{{item.price}} руб.</button></td>
        </tr>
        </table>
    {% endfor %}
</div>
<div class = "items-block">
    {% for item in items_data %}
    <table>
        <tr>
            <td><img src = "../static/images/item_images/{{item.name}}_{{item.index}}/{{item.name}}_thumb.jpg"/></td>
            <td><p>
                {{item.name}}
                <br>Единица измерения: {{item.unit}}
                <br>Описание: {{item.description}}
                <br>Параметры: {{item.parametrs}}
            </p></td>
        </tr>
        <tr class = 'item-price'>
            <td><p>{{item.price}} руб.</p></td>
            <td>
                <input type = "number" min="1" max="100" name = "itemBuy" id = "itemBuy" value = "1" size = "40">
                <button type = "submit" id = "itemBuyButton" value = "1" size = "40" alt = "Укажите количество">В корзину</button>
            </td>
        </tr>
    </table>
    {% endfor %}
</div>   
{% endblock %}