{% extends 'base.html' %}

{% block title %}Вход{% endblock %}

{% block scripts %}
    <script type="text/javascript" src = "../static/login.js"></script>
{% endblock %}

{% block content %}
<div class="bg">
    <a href = "/" type = "button">главная</a>
    <a href = "/items" type = "button">товары</a>
    <a href = "/contact" type = "button">контакты</a>
    <a href = "/about" type = "button">о нас</a>
    <a class = "login" style = "background-color: #359536;" type = "button" href = "/registration">Регистрация</a>
</div>
<div style = "text-align:center; padding-top: 100px">
    <h2>Вход на сайт</h2>
    <form action = "{{url_for('login')}}" method = "post">
        <ul>
            <label for="userEmail"></label>
            <input type="text" name="userEmail" id="userEmail" placeholder="Адрес электронной почты">
        </ul>
        <ul>
            <label for="userPassword"></label>
            <input type="password" name="userPassword" id="userPassword" placeholder="Пароль">
        </ul>
        <ul>
            <input type = "submit" id = "joinUser" value = "войти">
        </ul>
    </form>
    <ul>
        <a type = "button" href="/registration">регистрация</a>
    </ul> 
</div>
{% endblock %}