{% extends 'base.html' %}

{% block title %}Вход{% endblock %}

{% block content %}
<div class="bg">
    <a href = "/" type = "button">главная</a>
    <a href = "/items" type = "button">товары</a>
    <a href = "/contact" type = "button">контакты</a>
    <a href = "/about" type = "button">о нас</a>
    <a class = "login" style = "background-color: #359536;" type = "button" href = "/registration">Регистрация</a>
</div>
<div>
<h2>Вход на сайт</h2>
</form>
    <ul>
        <label for="username" class="form-label">Логин:</label>
        <input type="text" class="form-control" id="username" name="username" required>
    </ul>
    <ul>
        <label for="password" class="form-label">Пароль:</label>
        <input type="password" class="form-control" id="password" name="password" required>
    </ul>
    <ul>
        <button type="submit" class="btn btn-primary">Войти</button>
        <a type = "button" href="/registration">Регистрация</a>
    </ul>
</form>
</div>
{% endblock %}