<link rel = "stylesheet" type = "text/css" href = "../static/base.css">
<link rel = "stylesheet" type = "text/css" href = "../static/slider_HP.css">
<div class="bg">
    <a class = "active" type = "button" href = "/">главная</a>
    <a href = "/items" type = "button">товары</a>
    <a href = "/contact" type = "button">контакты</a>
    <a href = "/about" type = "button">о нас</a>
    {% for button in data %}
        {{ button.status|safe }}
        {{ button.orders|safe }}
    {% endfor %}
</div>