{% extends 'base.html' %}

{% block title %}Заказ пользователя{% endblock %}

{% block scripts %}
<script src = "https://code.jquery.com/jquery-3.5.1.js"></script>
{% endblock %}

{% block content %}
<link rel = "stylesheet" type = "text/css" href = "../static/base.css">
<link rel = "stylesheet" type = "text/css" href = "../static/items.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script>
    document.getElementById("nav_href_order").classList.add("active")
</script>
{% for num, items in data|items %}
<div class = "items-block">
    <p> Заказ № {{num}}</p>
    <table class = "table_blur">
        <tr>
            <th>Наименование</th>
            <th>Код</th>
            <th>Цена</th>
            <th>Количество</th>
            <th>Итого</th>
        </tr>
        
        {% for item in items%}
        <tr>
            <td>{{item.name}}</td>
            <td>{{item.index}}</td>
            <td>{{item.price}}</td>
            <td>{{item.count}}</td>
            <td>{{item.price*item.count}}</td>
        </tr>
        {% endfor %}
    </table>
</div><br>
{% endfor %}
<div class = "item-price-buy-items">
    <h2>Всего оплачено: {{total_price}} руб.</h2>
</div>
{% endblock %}