{% extends "base.html" %}

{% block title %}Региcтрация{% endblock %}

{% block scripts %}
    <script type="text/javascript" src = "../static/registration.js"></script>
{% endblock %}

{% block content %}
<link rel = "stylesheet" type = "text/css" href = "../static/base.css">
<div class="bg">
    <a href = "/" type = "button">главная</a>
    <a href = "/items" type = "button">товары</a>
    <a href = "/contact" type = "button">контакты</a>
    <a href = "/about" type = "button">о нас</a>
</div>
<div style = "text-align:center; padding-top: 100px">
    <form action = "{{url_for('registration')}}" method = "post">
        <ul>
            <label for = "userName"></label>
            <input type = "text" name = "userName" id = "userName" size = "40" placeholder = "Имя">
        </ul>
        <ul>
            <label for = "userPhone"></label>
            <input type = "text" name = "userPhone" id = "userPhone" size = "40" placeholder = "Введите номер телефона">
        </ul>
        <ul>
            <label for = "userEmail"></label>
            <input type = "text" name = "userEmail" id = "userEmail" size = "40" placeholder = "Введите адрес электронной почты">
        </ul>
        <ul>
            <label for = "userPassword"></label>
            <input type = "password" name = "userPassword" id = "userPassword" size = "40" placeholder = "Придумайте пароль">
        </ul>
        <ul>
            <label for = "repeatPassword"></label>
            <input type = "password" name = "repeatPassword" id = "repeatPassword" size = "40" placeholder = "Повторите пароль">
        </ul>     
    </form>
    <ul>
        <input type = "submit" id = "addUser" value = "регистрация">
    </ul> 
</div>
{% endblock %}
