{% extends "base.html" %}

{% block title %}Региcтрация{% endblock %}

{% block scripts %}
<script src = "../static/success_registration.js"></script>
{% endblock %}

{% block content %}
<form style = "text-align:center; padding-top: 100px">
    <ul><input type = "text" name = "userName" size = "40" placeholder = "Имя"></ul>
    <ul><input type = "text" name = "userPhone" size = "40" placeholder = "Номер телефона"></ul>
    <ul><input type = "text" name = "userEmail" size = "40" placeholder = "Электронная почта"></ul>
    <ul><input type = "password" name = "userPassword" size = "40" placeholder = "Введите пароль"></ul>
    <ul><input type = "password" name = "repaetPassword" size = "40" placeholder = "Повторите пароль"></ul>
    <ul><input type = "submit" id = "addUser" value = "Зарегестрироваться"></ul>
</form>
{% endblock %}
