{% extends 'base.html' %}

{% block title %}Товары и услуги{% endblock %}

{% block content %}
<link rel = "stylesheet" type = "text/css" href = "../static/base.css">
<link rel = "stylesheet" type = "text/css" href = "../static/items.css">
<div class="bg">
    <a type = "button" href = "/">главная</a>
    <a class = "active" href = "/items" type = "button">товары</a>
    <a href = "/contact" type = "button">контакты</a>
    <a href = "/about" type = "button">о нас</a>
</div>
<div class = "items">
    <button>212</button>
</div>   
{% endblock %}